# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio
/android/app/debug
/android/app/profile
/android/app/release

# Android local config
/android/local.properties
/android/.gradle/
/android/captures/
key.properties
*.jks
*.keystore

# Exceptions
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
